<div class="card">
  <h4 class="card-header">Operations History</h4>
  <div class="card-body">
    <form [formGroup]="form">
      <div>
        <label for="account">Account</label>
        <select id="account" formControlName="account" class="form-select"s (ngModelChange)="loadOperationsHistory()">
          <option *ngFor="let opt of accounts" [value]="opt.id">{{opt.iban}}</option>
        </select>
      </div>
      <div class="form-group">
        <table class="table" *ngIf="operations.length > 0">
          <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Account Balance</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let operation of operations">
            <td>{{operation.date}}</td>
            <td>{{operation.operationType}}</td>
            <td>{{operation.operationAmount}}</td>
            <td>{{operation.balance}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>
    <button class="btn btn-primary" (click)="newOperation()">New Operation</button>
  </div>
</div>
